<html>
  <head>
    <h1>Address Book</h1>

    <p>Add a new contact:</p>

  </head>
  <div>
  <form action='/contact' method='post'>
  <body>

    <p>Enter a first and last name for your contact</p>
      <label for="fullname">Contact name</label>
      <input id="fullname" name="fullname" type="text">
      <br>
      <br>
      <button type="submit" class="btn btn-info">Save Name</button>
</div>
    </form>

    </body>
</html>
