<html>
  <head>
    <h1>Address Book</h1>

  </head>
  <div>
  <form action='/' method='get'>
  <body>

    <p>Enter a first and last name for your contact</p>
      <label for="firstname">Enter a first name</label>
      <input id="firstname" name="firstname" type="text">
      <br>
      <button type="submit" class="btn btn-info">Save First Name</button>
      <br>
      <br>
      <label for="lastname">Enter a last name</label>
      <input id="lastname" name="lastname" type="text">
      <br>
      <button type="submit" class="btn btn-info">Save Last Name</button>
</div>
    </form>

    <p><h3>Your contact's first name is $newContact.getFirstName()</h3></p>
    <p><h3>Your contact's last name is $newContact.getLastName()</h3></p>
  </body>
</html>
