<html>
  <head>
    <h1>Address Book</h1>

    <h1> All contacts </h1>
    <ul>
    #foreach ($contact in $contacts)
      <a href="/contacts/$contact.getId()">$contact.getName()</a>
    #end
    </ul>

  <a href="/contacts/new">Add another task</a>

  </head>
  </body>
</html>
